.pokemon-card {
  position: relative;
  width: 100%;
  max-width: 260px;
  padding-top: 90px;
  padding-bottom: 1.5rem;
  margin-bottom: 2.5rem;

  border-radius: 16px;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;

  &:hover {
    transform: translateY(-20px);
    box-shadow: 0 18px 35px rgba(0, 0, 0, 0.35);
  }

  .image {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);

    width: 180px;
    height: 180px;

    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.35));
    }
  }

  .name {
    margin-top: 3rem;
    // margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: capitalize;
  }
}
