.pokemon-card {
  width: 100%;
  // max-width: 300px;
  // height: 500px; 

  border-radius: 16px;
  color: #fff;

  justify-self: center;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
  transition: transform 0.25s ease;

  .image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;

    img {
      width: 150px;
      height: 100%;
      padding: 2rem;
    }
  }

  .title {
    color: #fff;
    padding: 0;
  }

  .description {
    padding: 1rem;

  }
}
