.pokedex-page {
  min-height: 100vh;
  width: 100%;
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
  // background: rgba(255,255,255,.6);

  // display: flex;
  // justify-content: center;

  // box-sizing: border-box;

  .pokedex-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    padding-bottom: 6rem;

    img {
      width: 300px;
    }
  }

  .pokedex-grid {
    width: 100%;
    // max-width: 1200px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));

    gap: 2rem;
  }
}

@media (max-width: 480px) {
  .pokedex-page {
    padding: 1rem;
  }
}
